body {
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

form {
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.form-label {
  font-weight: bold;
  color: #555;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

.form-select {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

.btn {
  background: #007bff;
  border-radius: 8px;
  font-size: 18px;
  padding: 10px;
}

.btn:hover {
  background: #0056b3;
}

/* Navbar Styling */
nav.navbar {
  background-color: #004d00 !important;
}

.navbar .navbar-brand {
  color: white !important;
}

.navbar .nav-link {
  color: white !important;
}

.navbar .nav-link:hover {
  color: #c8e6c9 !important;
}

.navbar-toggler-icon {
  background-color: white !important;
}

.navbar-toggler {
  border-color: white !important;
}

.offcanvas-body {
  background-color: #004d00;
}

.offcanvas-body .nav-link {
  color: white !important;
}

.offcanvas-body .nav-link:hover {
  color: #c8e6c9 !important;
}

.form-select,
.form-control {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

button.carousel-control-prev,
button.carousel-control-next {
  background-color: #004d00 !important;
}
